body{
 background:#0f172a;
 color:#e5e7eb;
 font-family:Arial;
}
.app{
 max-width:800px;
 margin:auto;
 padding:40px;
}
input,button{
 padding:12px;
 border-radius:8px;
 border:none;
}
button{
 background:#2563eb;
 color:white;
 cursor:pointer;
}
ul li{
 list-style:none;
 padding:10px;
 background:#020617;
 margin:8px 0;
 border-radius:8px;
 cursor:pointer;
}
.layout{
 display:flex;
 height:90vh;
}
aside{
 width:320px;
 padding:10px;
 overflow:auto;
}
main{
 flex:1;
}
iframe{
 width:100%;
 height:100%;
 border:none;
}
